<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Success</title>
</head>
<style>
    body{
        background-color: black;
        text-align: center;
        color: white;
    }
</style>
<body>
    <h2>Contact Success.</h2>
    <h3>You will be contacted back soon.</h3>
    <p>Your Details <br> Name: <%= data.name%> <br> Contact Department: <%= data.who%></p>
    <button><a href="localhost:3000/index">Get Back Home</a></button>
</body>
</html>